:root {
    --cor-p1: #222222;
    --cor-p2: #3B3B3B;
    --cor-p3: #515151;
    --cor-p4: #626262;
    --cor-p5: #7E7E7E;
    --cor-p6: #9E9E9E;
    --cor-p7: #B1B1B1;
    --cor-p8: #CFCFCF;
    --cor-p9: #E1E1E1;
    --cor-p10:#F7F7F7;
    --cor-bg:#fafafa;
}
body {
    background-color: var(--cor-bg);
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito';

}
a {
    text-decoration: none;
}
.bold {
    font-weight: bold !important;
    letter-spacing: 2px;
    font-size: 0.85rem;
}
.header {
    background-color: var(--cor-p1);
}
.nav {
    max-width: 100vw;
    height: 70px;
    margin-inline: auto;
    display: flex;
    justify-content: start;
    gap: 24px;
    align-items: center;
    padding: 16px 32px;
    position: fixed;
    background-color: var(--cor-p1);
    top: 0;
    left: 0;
    right: 0;
    z-index: 640;
}
.nav-list {
    display: flex;
    gap: 24px;
    list-style: none;
}
.nav-list a {
    margin-left: 72px;
    padding: 16px;
    gap: 26px;
    color: var(--cor-p9);
    font-size: 1.2rem;
    letter-spacing: 0.15px;
    font-weight: 600;
    transition: .3s ease;
}
.nav-list a:hover {
    border-bottom: 4px solid var(--cor-p2);
}

/*first container*/

.first-part {
    background-image: url('./img/caspar-camille-rubin-fPkvU7RDmCo-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    background-position: center center;
    background-repeat: no-repeat;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: calc(100vh - 800px);
}
.first-part::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75vh;
    background-color: rgba(0, 0, 0, .75);
    z-index: 2;
}
.first-part h1 {
    font-size: 3.2rem;
    color: var(--cor-p10);
    font-weight: 300;
    letter-spacing: -0.5px;
    max-width: 820px;
    z-index: 10;
}
.first-part p {
    font-size: 1.2rem;
    color: var(--cor-p6);
    font-weight: 600;
    letter-spacing: 0.15px;
    z-index: 10;
}
.btns{
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    gap: 22px;
    z-index: 10;
}
.btns a {
    background-color: var(--cor-p10);
    color: var(--cor-p1);
    padding: 14px;
    font-size: 0.8rem;
    letter-spacing: 1.25px;
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
}
.btns a:hover {
    background-color: var(--cor-p9);
}
.btnAbout {
    background-color: var(--cor-p1) !important;
    color: var(--cor-p10) !important;
    border: 1px solid var(--cor-p10) !important;
    transition: .2s;
}
.btnAbout:hover {
    background-color: var(--cor-p2) !important;
    color: var(--cor-p9) !important;
}

/*ABOUT ME*/
.img-about-me {
    width: 350px;
}
.about-me {
    display: flex;
    justify-content: space-evenly;
    grid-template-columns: 1fr 1fr;
    padding: 32px 64px;
    align-items: center;
}
.text-about-me {
    max-width: 550px;
}
.text-about-me h2 {
    font-size: 2rem;
    letter-spacing: -0.5px;
    font-weight: 500;
}
.text-about-me p {
    color: var(--cor-p1);
    font-size: 0.9rem;
    letter-spacing: 1.25px;
    font-weight: 400;
    padding-top: 12px;
}

/*TECNOLOGIA*/
.container-tecnology {
    display: flex;
    flex-direction: column;
    padding: 32px 0px;
}
.text-tecnology {
    text-align: center;
}
.text-tecnology p {
    padding-top: 12px;
    max-width: 600px;
    margin: 0px auto;
    color: var(--cor-p1);
    font-size: 0.9rem;
    letter-spacing: 1.25px;
    font-weight: 400;
}
.cards-tecnology {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 24px;
    gap: 14px;
}
.card {
    background-color: var(--cor-p1);
    padding: 14px;
    margin: 0px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 2px;
    transition: .2s;
}
.card:hover {
    background-color: var(--cor-p2);
}
.card img {
    padding: 0px;
    margin: 0px;
}

/*PROJETOS*/
.container-project {
    display: flex;
    flex-direction: column;
    padding: 32px;
}
.cards-project-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 12px;
    max-width: 1200px;
    margin: 0px auto;
    flex-wrap: wrap;
    justify-content: space-around;
}
.text-project {
    text-align: center;
}

.card-project {
    background-color: var(--cor-p2);
    max-width: 320px;
    padding: 38px 28px;
    margin: 24px 12px;
    flex-wrap: wrap;
    border-radius: 4px;
}
.img-card-project > img {
    max-width: 85%;
    border-radius: 10px 10px 2px 0px;
    background-color: var(--cor-p3);
    padding: 10px 10px 4px 10px;
}
.img-card-project-ux > img {
    max-width: 95%;
    border: 1px solid var(--cor-p8);
    border-radius: 10px;
    padding: 5px;
}
.card-project .img-card-project {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2px;
}
.title-website h3 {
    max-width: 1250px;
    margin: 0px auto;
    padding-left: 64px;
    position: relative;
    font-size: 1.7rem;
    letter-spacing: 1.3px;
    color: var(--cor-p7);
    padding-top: 32px;
}

.text-card-project h3 {
    color: var(--cor-p10);
    font-size: 1.3rem;
    font-weight: normal;
    letter-spacing: .25px;
    padding-block: 12px;
}
.text-card-project h4 {
    color: var(--cor-p9);
    font-size: 1rem;
    letter-spacing: 0.15px;
    font-weight: 600;
    padding-top: 12px;
    padding-bottom: 6px;
}
.text-card-project ul li {
    list-style: none;
    color: var(--cor-p9);
    font-size: 0.9rem;
    letter-spacing: 0.15px;
    font-weight: 400;
    padding-top: 4px;
}
.text-card-project ul li::before {
    content: '- ';
}
.buttons {
    display: flex;
    flex-direction: row;
    margin-top: 32px;
    gap: 12px;
}
.buttons a {
    background-color: var(--cor-p9);
    padding: 8px 10px;
    font-size: 0.8rem;
    letter-spacing: 1.25px;
    font-weight: 600;
    transition: .2s;
}
.buttons a:hover {
    background-color: var(--cor-p10);
}

/*UX*/
.card-project-ux {
    border: 2px solid var(--cor-p2);
    max-width: 320px;
    padding: 38px 28px;
    margin: 24px 32px;
    flex-wrap: wrap;
    border-radius: 4px;
}
.card-project-ux .img-card-project-ux {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2px;
}
.text-card-project-ux h3 {
    color: var(--cor-p1);
    font-size: 1.3rem;
    font-weight: normal;
    letter-spacing: .25px;
    padding-block: 12px;
}
.buttons-ux {
    display: flex;
    flex-direction: row;
    margin-top: 32px;
    gap: 12px;
}
.buttons-ux a {
    background-color: var(--cor-p1);
    color: var(--cor-p9);
    padding: 8px 10px;
    font-size: 0.8rem;
    letter-spacing: 1.25px;
    font-weight: 600;
    transition: .2s;
}
.buttons-ux a:hover {
    background-color: var(--cor-p2);
}
.container-footer {
    background-color: var(--cor-p1);
    color: var(--cor-p9);
    padding: 42px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    
}
.container-footer h2, .container-footer p {
    padding-bottom: 14px;
    text-align: center;
}
.container-contato {
    padding-top: 32px;
}
.container-contato span {
    display: flex;
    justify-content: center;
    align-items: center;
}
.bolder {
    padding-left: 12px;
    font-weight: bold;
}
.bolder a {
    color: var(--cor-p9);
}
.socialMedia-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 38px;
    gap: 22px;
}
.socialMedia-container img {
    padding: 12px;
    cursor: pointer;
    transition: .2s;
    border-radius: 2px;
}
.socialMedia-container img:hover {
    background-color: var(--cor-p3);
}


.hamburguer {
    border: none;
    display: none;
    background: none;
    border-top: 3px solid #fff;
    cursor: pointer;
}
.hamburguer::before, .hamburguer::after {
    content: ' ';
    display: block;
    width: 30px;
    height: 3px;
    background-color: #fff;
    position: relative;
    transition: .3s;
    margin-top: 5px;
}
.overlay {
    display: initial;
    position: fixed;
    height: 92%;
    width: 100%;
    top: 10;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
}
.closeOverlay {
    display: none;
}

@media(max-width: 1050px) {
    .nav {
        justify-content: space-between;
        
    }
    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        z-index: 999;
    }
    .hamburguer {
        display: block;
        z-index: 1;
    }
    .nav-list {
        position: fixed;
        top: 0;
        left: 50%;
        width: 50vw;
        height: 100vh;
        background: var(--cor-p1);
        clip-path: circle(100px at 90% -15%);
        transition: 1s ease-out;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
    
        pointer-events: none;
    }
    .nav-list a {
        font-size: 24px;
        padding: 22px;
        margin: 0px;
        opacity: 0;
    }
    .nav-list li:nth-child(1) a {
        transition: .5s .2s;
    }
    .nav-list li:nth-child(2) a {
        transition: .5s .4s;
    }
    .nav-list li:nth-child(3) a {
        transition: .5s .6s;
    }
    .nav.active .nav-list {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
        
    }
    .nav.active .nav-list a {
        opacity: 1;
    }
    .nav.active .hamburguer {
        top: 26px;
        right: 16px;
        border-top-color: transparent;
    }
    .nav.active .hamburguer::before {
        transform: rotate(135deg); 
    }
    .nav.active .hamburguer::after {
        transform: rotate(-135deg); 
        top: -7px;
    }

    .first-part {
        padding: 0px 42px;
    }

}
@media(max-width: 750px) {
    .cards-tecnology {
        flex-wrap: wrap;
    }
    .about-me {
        display: flex;
        flex-direction: column;
    }
    .img-about-me {
        padding-top: 42px;
    }
} 
@media(max-width: 500px) {
    .first-part h1 {
        font-size: 2.3rem;
    }
    .first-part p {
        font-size: 1rem;
    }
    .about-me {
        margin: 0px;
        padding: 22px;
    }
    .img-about-me {
        max-width: 320px;
    }
    .cards-project-container {
        padding: 0px;
    }
    .card-project-ux, .card-project {
        margin: 0px;
        margin-top: 22px;
    }
    .cards-project-container {
        padding: 0px;
        margin: 0px;
    }
    .container-tecnology {
        padding: 22px;
    }
    .title-website {
        padding: 0px;
        margin: 0px;
    }
    .title-website h3 {
        padding: 0px;
        margin-top: 62px;
    }
    .nav-list a {
        font-size: 1rem;
        padding: 12px;
    }
} 










.fadeInDown {
    transform: translate3d(0, -20px, 0);
  }
  .fadeInUp {
    transform: translate3d(0, 20px, 0);
  }
  .fadeInRight {
    transform: translate3d(20px, 0, 0);
  }
  .fadeInLeft {
    transform: translate3d(-20px, 0, 0);
  }
  
  /* 7 Adicione o CSS Essencial abaixo */
  [data-anime] {
    opacity: 0;
  }
  .anime {
    opacity: 1;
    transform: none;
    transition: transform 0.8s, opacity 0.8s;
  }